body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: 'Robato', sans-serif;
}

.header,
.greeting,
.info,
.testimonial,
.action,
.footer {
    padding: 8px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.greeting,
.info,
.testimonial {
    flex: 1;
}
.header,
ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.header {

    background-color: #1f2937;
    justify-content: space-between;
    flex: 0 0 auto;
    max-height: 40px;
}
.greeting {
    background-color: #1f2937;
    color: #f9faf8;
}

.greeting-left {
    display: flex;
    flex-direction: column;
}

.greeting p {
    color: #e5e7eb;
}

.images {
    flex: 1;
    display: flex;
}

.image {
    flex: 1;
    max-width: 100px;
    max-height: 120px;
    margin: 16px;
    padding: 8px;
}

img {
    border: 2px solid #3882f6;
    border-radius: 10px;
}

.greeting img {
    border: none;
    background-color: grey;
    border-radius: 0px;

}
.info {
    flex-direction: column;
    background-color: white;
}

.info h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    flex-wrap: nowrap;
    text-align: center;
}
.testimonial {
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight:lighter;
    color: #1f2937;
}
.testimonial .signed {
    font-weight: normal;
   text-align: right;
}

.quote {
    justify-content: center;
}

.action {
    background-color: white;
    padding: 60px 80px;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
}

.blue-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    padding: 8px 100px;
    gap: 64px;
}

.outline-button {
    border: 2px solid white;
    flex: 0 0 auto;
}

.blue-box-left {
    flex: 1;
    flex-wrap: nowrap;
    margin: right 60px;
}

ul,
li {
    font-size: 18px;
    color: #e5e7eb;
    list-style-type: none;
    padding: 8px;

}
a {
    color: #e5e7eb;
    text-decoration: none;
}